.App {
  /* background-color: rgb(27, 26, 26); */
  background-image: url(./img/star-wars-backgrounds-15.jpeg);
  min-height: 100vh;
  color: white;
}

a {
  text-decoration: underline;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

.facts {
  width: 1000px;
  margin: auto;
  text-align: center;
}

.form {
  width: 50%;
  margin: auto;
}

.facts-frame {
  background-color: rgba(255, 255, 255, 0.608);
  color: black;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-wraper {
  width: 49%;
}
